In [7]:
import sys
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandasql as sql

In [4]:
db = pd.read_excel('Resultats_EEG.xlsx')

In [5]:
display(db)

,report_id,report_title,practitioner_first_name,practitioner_last_name,started_at,duration,channels,sampling_rate,birthday,sex,...,average_circuit_hits_social,average_circuit_hits_technical,region_hits_circuit_hits,region_hits_regions,top_circuit_hits_hits,top_circuit_hits_circuits,sampled_data_sampling_rate,sampled_data_max_channel_data_amplitudes,sampled_data_max_channel_data_channels,sampled_data_max_channel_data_frequencies
0,cbf47f47-824f-47d9-986f-b78e88eb50fc,10 daily activities,Dario,Nardi,2023-05-29T14:00:38Z,1736000,"[""FP1"",""F3"",""C3"",""P3"",""O1"",""F7"",""T3"",""T5"",""FZ""...",256.0,NaN,NaN,...,7277,8354.667,"[7041,6564,9155,8216,9598,6939,7468,6702,8441,...","[""FP1"",""FP2"",""T3"",""F4"",""F8"",""C3"",""PZ"",""O2"",""O1...","[1706,1501,1109,921,768,665,614,597,597,597,59...","[""FP1:FP2"",""T3:F4:F8"",""C3:PZ"",""O2:PZ"",""O1:F8"",...",2,"[32.98,32.34,28.41,27.98,22.43,20.38,19.1,30.0...",NaN,"[2,1,2,3,2,3,2,6,6,2,2,2,2,1,2,3,4,3,4,2,2,7,2..."
1,62afa164-978d-4b42-90d1-1afc421afb00,10 Daily Activities,Darren,Yee,2024-07-03T18:21:35Z,2049000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",256.0,Wed Sep 08 2004 00:00:00 GMT+0000 (Coordinated...,MALE,...,53488.668,54092.668,"[55178,54766,54751,52001,53173,53850,55464,525...","[""CP1"",""CP2"",""CP6"",""F7"",""F8"",""FC1"",""C3"",""FZ"",""...","[1619,1310,1010,715,711,678,670,669,553,532,51...","[""O2:PO8"",""O1:PO7"",""P7:PO7"",""FT10:T8"",""P8:PO8""...",2,"[11.752724,8.354612,5.470554,4.1701145,20.9850...","[""FP2"",""FP1"",""F4"",""FC6"",""FPZ"",""FPZ"",""F8"",""FPZ""...","[2,1,1,3,3,1,1,1,1,3,1,1,1,1,5,3,1,2,1,1,6,1,2..."
2,fb0d72c8-0acd-4d73-b7c3-0e5574d99b2c,10 daily activities,Dario,Nardi,2023-05-29T13:00:43Z,1719000,"[""FP1"",""F3"",""C3"",""P3"",""O1"",""F7"",""T3"",""T5"",""FZ""...",256.0,NaN,NaN,...,5305.75,7045,"[7831,7481,7422,8310,7879,8085,7238,5310,4947,...","[""T3"",""F8"",""P3"",""P4"",""O1"",""T5"",""T6"",""FP1"",""FP2...","[1288,1159,1043,979,979,850,850,696,696,631,59...","[""T3:F8"",""P3:P4"",""O1:P4"",""T5:T6"",""T3:T5"",""FP1:...",2,"[16.92,6.22,5.41,7.35,7.48,6.44,5.66,7.74,13.0...",NaN,"[2,3,8,4,2,3,3,4,2,2,2,2,4,2,2,12,11,7,4,5,2,5..."
3,9f64cf25-bf0c-4b1d-9581-2a7f0468eaa3,10 daily activities,Dario,Nardi,2023-08-30T04:37:56Z,2659000,"[""FP1"",""F3"",""C3"",""P3"",""O1"",""F7"",""T3"",""T5"",""FZ""...",256.0,NaN,NaN,...,10153.5,10576.667,"[10313,9178,10345,8867,9493,9837,10166,9950,11...","[""F8"",""T6"",""FP1"",""F3"",""C3"",""P3"",""O1"",""F7"",""T3""...","[1642,1412,1412,1363,1199,1034,690,673,673,657...","[""F8:T6"",""FP1:F3:C3:P3:O1:F7:T3:T5:FZ:FP2:F4:C...",2,"[21.57,13.7,18.13,14.35,6,2.68,3.32,1.56,2.87,...",NaN,"[2,5,3,2,2,6,2,1,6,2,3,4,2,4,2,2,2,3,4,4,4,3,3..."
4,df0523f8-04d4-4cd3-a811-2a8a83b1fbdf,Daily activities,Adrien,Mangeot,2024-04-14T06:23:25Z,2277000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",128.0,Tue Nov 21 1967 00:00:00 GMT+0000 (Coordinated...,MALE,...,201.66667,302.5,"[42,42,35,128,371,40,522,503,366,3,2,36,3,18,2...","[""C3"",""CP5"",""FC5"",""FT9"",""PO7"",""C4"",""CP2"",""CP6""...","[88,28,25,23,21,20,18,15,14,14,10,10,9,8,8,7,7...","[""P8:PO8"",""CP2:CP6"",""CP2:PO8"",""CP2:CP6:P8:PO8""...",2,"[1.8225476,1.8392375,5.216371,7.9707336,6.8049...","[""FP2"",""CP6"",""F3"",""FP1"",""CZ"",""FT9"",""T8"",""FC6"",...","[8,14,11,9,10,9,12,12,11,8,10,10,14,9,12,18,19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,695ce022-8d7e-4ce4-b21f-34ee0bbaf580,B��n��fices,Adrien,Mangeot,2024-10-03T21:44:20Z,2237000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",128.0,NaN,NaN,...,53380.668,53685,"[52701,53470,52649,49869,51700,51897,54725,540...","[""CP2"",""F4"",""FC2"",""FP1"",""FPZ"",""FZ"",""T7"",""C3"",""...","[1974,1066,1056,780,720,701,651,631,623,605,56...","[""O1:PO7"",""O2:PO8"",""FP2:FPZ"",""C3:C4:CP1:CP2:CP...",2,"[11.699686,25.203989,47.11913,103.459404,19.92...","[""T8"",""FP1"",""FP1"",""FP1"",""FPZ"",""F3"",""FC6"",""FP1""...","[2,1,2,1,1,22,1,1,1,1,1,3,1,1,1,7,1,2,1,1,8,3,..."
976,0f2d6a60-7e38-4cd8-9acc-575a1c33a20b,Rentrer dans le sujet,Adrien,Mangeot,2024-10-06T06:59:49Z,1237000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",128.0,NaN,FEMALE,...,29879.834,29589.166,"[30954,30562,30410,30059,31725,30285,30104,307...","[""C3"",""C4"",""CP1"",""CP2"",""CP5"",""CZ"",""F4"",""F7"",""F...","[1073,869,493,427,339,338,292,286,270,270,264,...","[""FT10:T7"",""C3:C4:CP1:CP2:CP5:CP6:CZ:F3:F4:F7:...",2,"[2.4349463,8.501217,4.846262,37.766647,5.33932...","[""CP5"",""F3"",""FT9"",""F7"",""FT10"",""PO8"",""FPZ"",""FP2...","[36,1,2,1,1,12,12,1,1,1,2,1,1,2,1,1,2,1,1,1,1,..."
977,00b06008-1492-40aa-a2a1-e04ab579b979,10 Daily Activities,Darren,Yee,2024-10-14T22:12:04Z,1889000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",256.0,Sun Aug 14 1988 00:00:00 GMT+0000 (Coordinated...,FEMALE,...,2700-05-01 00:00:00,2689.6667,"[2715,2737,2713,2732,2743,2725,2714,2743,2714,...","[""C3"",""CP1"",""O1"",""O2"",""P4"",""PO8"",""C4"",""CP2"",""C...","[446,96,49,31,25,23,22,20,20,18,17,15,13,13,12...","[""C3:C4:CP1:CP2:CP5:CP6:CZ:F3:F4:F8:FC1:FC2:FC...",2,"[18.075312,8.128383,6.693302,14.467537,6.13805...","[""FP1"",""T8"",""T7"",""FP2"",""T7"",""T7"",""FP2"",""T7"",""T...","[8,29,38,9,39,29,9,33,39,30,36,35,18,32,33,31,..."
978,00b06008-1492-40aa-a2a1-e04ab579b979,10 Daily Activities,Darren,Yee,2024-10-14T22:12:04Z,1889000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",256.0,Sun Aug 14 1988 00:00:00 GMT+0000 (Coordinated...,FEMALE,...,12246.167,11975.667,"[12356,12129,12168,12156,11361,11985,9672,1282...","[""CP5"",""FP2"",""FT10"",""O1"",""P7"",""PO7"",""T7"",""C3"",...","[566,508,329,303,303,301,289,222,189,182,162,1...","[""O1:PO7"",""O2:PO8"",""CP6:P8"",""FP1:FPZ"",""FP1:FP2...",2,"[37.597763,17.420996,12.342012,34.87445,122.39...","[""FP2"",""FP2"",""FPZ"",""FP2"",""FP2"",""FP1"",""FP1"",""FP...","[5,1,1,5,1,2,3,1,1,6,3,2,2,1,1,1,2,2,1,3,1,2,1..."
979,00b06008-1492-40aa-a2a1-e04ab579b979,10 Daily Activities,Darren,Yee,2024-10-14T22:12:04Z,1889000,"[""CZ"",""FZ"",""FPZ"",""FP1"",""F7"",""F3"",""FC1"",""C3"",""F...",256.0,Sun Aug 14 1988 00:00:00 GMT+0000 (Coordinated...,FEMALE,...,55519.168,55362.168,"[57007,57152,56292,56591,57018,56339,56678,569...","[""C3"",""CP1"",""O1"",""O2"",""P4"",""PO8"",""C4"",""CP2"",""C...","[4585,1277,982,918,748,616,605,595,564,549,473...","[""C3:C4:CP1:CP2:CP5:CP6:CZ:F3:F4:F7:F8:FC1:FC2...",2,"[37.597763,17.420996,12.342012,34.87445,122.39...","[""FP2"",""FP2"",""FPZ"",""FP2"",""FP2"",""FP1"",""FP1"",""FP...","[5,1,1,5,1,2,3,1,39,6,3,2,2,1,1,1,2,30,1,3,1,2..."

In [6]:
#db.to_pickle('EEG_new.pkl')

In [12]:
request_col = "SELECT report_title, channels, hand_preference, mbti_type, analysis_version, frequency_bandwidths, executive_style, top_patterns, top_skills, average_circuit_hits_decision_making,average_circuit_hits_perception, average_circuit_hits_abstract, average_circuit_hits_concrete, average_circuit_hits_social, average_circuit_hits_technical, region_hits_circuit_hits, region_hits_regions, top_circuit_hits_hits, top_circuit_hits_circuits"
request_order = " GROUP BY report_title, frequency_bandwidths"
request_where = ' WHERE frequency_bandwidths = ["0.5:45"] '

    
db_filtered = sql.sqldf(request_col + " FROM db" + request_order)

PandaSQLException: (sqlite3.OperationalError) no such column: "0.5:45"
[SQL: SELECT report_title, channels, hand_preference, mbti_type, analysis_version, frequency_bandwidths, executive_style, top_patterns, top_skills, average_circuit_hits_decision_making,average_circuit_hits_perception, average_circuit_hits_abstract, average_circuit_hits_concrete, average_circuit_hits_social, average_circuit_hits_technical, region_hits_circuit_hits, region_hits_regions, top_circuit_hits_hits, top_circuit_hits_circuits FROM db WHERE frequency_bandwidths = ["0.5:45"]  GROUP BY report_title]
(Background on this error at: https://sqlalche.me/e/20/e3q8)